@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

:root {
  --fonts: 'Comfortaa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --h1-fsize: calc(1.5rem + 1vw);
  --h3-fsize: calc(.5rem + .5vw);

  --color-bg-body: #393939;
  --color-text: #fdeddd;
  --color-link: #cdcdcd;
  --color-link-hover: #cffdfd;

  --color-start-1: #413c8ef7;
  --color-start-2: #3bd6406e;
  --color-projects-1: #d1a822e0;
  --color-projects-2: #d1361bf7;
  --color-cv-1: #8adf45f7;
  --color-cv-2: #ff00d49e;
  --color-contact-1: #9d2babd6;
  --color-contact-2: #5611b16b;

  --header-height: 20vh;
  --header-min-height: 10rem;
  --section-height: 100vh;
  --section-width: 100vw;
  --footer-height: 4vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text);
  height: 100%;
  font-family: var(--fonts);
  font-size: 16px;
}

.main {
  animation: 1s init-main ease-in-out;
  animation-fill-mode: backwards;
}

.main--header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--header-height);
  justify-content: center;
  min-height: var(--header-min-height);
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.main--header>h1 {
  font-size: var(--h1-fsize);
  font-weight: 300;
  line-height: 1;
  margin-top: 1rem;
  padding: 1rem 1rem .5rem;
  text-align: center;
}

.main--header>h3 {
  font-size: var(--h3-fsize);
  font-weight: 400;
  line-height: 1;
  margin-top: 1rem;
  text-align: center;
}

section.start,
section.projects,
section.cv,
section.contact {
  align-items: center;
  background: linear-gradient(-30deg, var(--color-start-1), var(--color-start-2));
  display: flex;
  height: var(--section-height);
  justify-content: center;
  scroll-snap-align: start;
  width: var(--section-width);
}

section.projects {
  background: linear-gradient(-30deg, var(--color-projects-1), var(--color-projects-2));
}

section.cv {
  background: linear-gradient(-30deg, var(--color-cv-1), var(--color-cv-2));
}

section.contact {
  background: linear-gradient(-30deg, var(--color-contact-1), var(--color-contact-2));
}

a {
  color: var(--color-link);
  transition: all .3s ease-in-out;
}

a:hover {
  color: var(--color-link-hover);
}

.image-round {
  border-radius: 50%;
  display: block;
  height: 12rem;
  background-image: url("../img/128.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 12rem;
}

.blur {
  animation: 1s ease-out blurry 1.10s;
  animation-fill-mode: backwards;
  border-radius: 50%;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  /* border-radius: 50%;
  height: 8rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8rem; */
}

.inline-list {
  display: inline-block;
}

.inline-list li {
  display: inline-block;
}

.main--footer {
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.main--footer>nav {
  display: flex;
  height: var(--footer-height);
  justify-content: center;
}

@keyframes blurry {
  0% {
    backdrop-filter: blur(10px);
  }

  100% {
    backdrop-filter: blur(0);
  }
}

@keyframes init-main {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}