.portfolio-section {
  align-items: center;
  display: flex;
  height: var(--section-height);
  justify-content: center;
  scroll-snap-align: start;
  width: var(--section-width);
}

.portfolio-section:not(.section-about) {
  align-content: flex-start;
  flex-wrap: wrap;

  h3 {
    font-size: var(--h3-font-size);
    margin: var(--margin-section-title);
  }
}