* {
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--fonts);
  margin: 0;
  padding: 0;
  /* text-shadow: 0 0 3px rgba(0, 0, 0, .25), 0 0 7px rgba(255, 255, 255, .25); */
}

html {
  height: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--color-bg-body);
  height: 100%;
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0 5px 5px rgba(180, 180, 180, .5);
}

.main {
  animation: 1s init-main ease-in-out;
  animation-fill-mode: backwards;
  overflow-x: hidden;
}

.main--header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--header-height);
  justify-content: center;
  min-height: var(--header-min-height);
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.main--header>h1 {
  font-size: var(--h1-font-size);
  font-weight: 300;
  line-height: 1;
  margin-top: 1rem;
  padding: 1rem 1rem .5rem;
  text-align: center;
}

.main--header>h2 {
  font-size: var(--h2-font-size);
  font-weight: 400;
  line-height: 1;
  margin-top: 1rem;
  text-align: center;
}

section.start,
section.projects,
section.cv,
section.contact {
  align-items: center;
  background: linear-gradient(-30deg, var(--color-start-1), var(--color-start-2));
  display: flex;
  height: var(--section-height);
  justify-content: center;
  scroll-snap-align: start;
  width: var(--section-width);
}

section.projects,
section.cv,
section.contact {
  align-content: flex-start;
  flex-wrap: wrap;
}

section.projects h3,
section.cv h3,
section.contact h3 {
  font-size: var(--h3-font-size);
  margin: var(--margin-section-title);
}

section.projects {
  background: linear-gradient(-30deg, var(--color-projects-1), var(--color-projects-2));
}

section.projects h4 {
  font-size: var(--h4-font-size);
  padding-bottom: .6rem;
  text-align: center;
}

section.cv {
  background: linear-gradient(-30deg, var(--color-cv-1), var(--color-cv-2));
}

section.contact {
  background: linear-gradient(-30deg, var(--color-contact-1), var(--color-contact-2));
}

a {
  color: var(--color-link);
  transition: all .3s ease-in-out;
}

a:hover {
  box-shadow: 0 0.2rem 1.2rem 0.2rem var(--color-contact-2);
  color: var(--color-link-hover);
  transition: all .3s ease-out;
}

.image-round {
  border-radius: 32% 68% 32% 68% / 35% 24% 76% 65%;
  display: block;
  height: 12rem;
  background-image: url("../img/128.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 12rem;
}

.blur {
  animation: 1s ease-out blurry 1.10s;
  animation-fill-mode: backwards;
  border-radius: 32% 68% 32% 68% / 35% 24% 76% 65%;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  /* border-radius: 50%;
  height: 8rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8rem; */
}

.inline-list {
  display: inline-block;
}

.inline-list li {
  display: inline-block;
}


section.projects .projects--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: var(--width-grid-gap);
  padding: var(--width-grid-gap);
}

section.projects .projects--container>div {
  background: #572b156b;
  box-shadow: 0 .24rem .8rem #000;
  padding: 1.5rem;
  border-radius: calc(var(--width-grid-gap)/3);
}

.cv--container {
  width: 100%;
}

section.contact form {
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto 20vh;
  max-width: 40rem;
  min-height: 50vh;
  width: 80vw;
}

.form--container {
  width: 100%;
}

.form--group {
  padding: 1vh 1vw;
}

.form--group label {
  display: block;
  margin: 0 10%;
}

.form--group input,
.form--group textarea {
  color: #292929;
  display: block;
  font-size: 1rem;
  margin-top: .5rem;
  padding: 1rem;
  width: 100%;
}

.form--group textarea {
  max-height: 50vh;
  min-height: 18vh;
  resize: vertical;
}

.form--group button {
  background: linear-gradient(0deg, #028ace, var(--color-contact-1));
  border: 1px solid #028ace;
  border-radius: .25vh;
  border-width: 1px 0 0 0;
  color: #360333;
  display: block;
  font-size: var(--button-fontsize);
  margin: auto;
  max-width: 10rem;
  padding: .6rem;
  text-align: center;
  width: 25vw;
}

.form--group button>i {
  color: #360333;
  margin-right: 1rem;
}

.form--group button:hover {
  border-color: transparent;
  box-shadow: 0 0.2rem 1.2rem 0.2rem var(--color-contact-2);
  cursor: pointer;
}

.form--group button:active {
  background-color: var(--color-contact-1);
  background-image: none;
  border-color: transparent;
  box-shadow: 0 0.2rem 1.2rem 0.2rem var(--color-contact-2);
  cursor: pointer;
}

.main--footer {
  align-items: center;
  border-radius: 50% 50% 0 0;
  bottom: 0;
  height: var(--footer-height);
  padding: 2vh 0;
  position: fixed;
  width: 100%;
}

.main--footer>* {
  align-items: center;
  backdrop-filter: blur(10px);
  display: flex;
  margin: 0 auto;
  min-width: var(--footer-min-width);

  width: var(--footer-width);
}

.main--footer>nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.main--footer>nav li {
  flex: 0 1 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.main--footer>nav li a {
  border-radius: 50%;
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
}

.main--footer>nav li a:hover {
  background-color: var(--color-contact-2-bg);
}

.main--footer>nav li a i {
  text-shadow: 0 0 3px #545454;
}

.main--footer .footer-legend {
  display: block;
  font-size: .8rem;
  margin-top: 1.33rem;
  text-align: center;
  text-shadow: 0 0 3px #545454;
}

@keyframes blurry {
  0% {
    backdrop-filter: blur(10px);
  }

  100% {
    backdrop-filter: blur(0);
  }
}

@keyframes init-main {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}